
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

:root {
    --lightCyan: hsl(193, 38%, 86%);
    --neonGreen: hsl(150, 100%, 66%);
    --grayishBlue: hsl(217, 19%, 38%);
    --darkGrayishBlue: hsl(217, 19%, 24%);
    --darkBlue: hsl(218, 23%, 16%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--darkBlue);
    text-align: center;
    font-family: 'Manrope', sans-serif;
}

main {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card {
    width: 40%;
    margin: auto;
    background-color: var(--darkGrayishBlue);
    padding: 3%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
}

header {
    text-align: inherit;
    color: var(--neonGreen);
    text-transform: uppercase;
    letter-spacing: 3px;
}

#advice {
    color: #fff;
    font-weight: 800;
    font-size: 28px;
}

#divider {
   width: 90%;
   margin: auto;
   margin-bottom: 5%;
}

#divider img {
    width: 100%;
}

#button-container {
    border: 1px solid red;
    width: 12%;
    height: 60px;
    margin: auto;
    border-radius: 50%;
    border: none;
    background-color: var(--neonGreen);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: -10%;
    left: 44%;
}

#button-container button, #button-container img{
    cursor: pointer;
}

#button-container:hover {
    box-shadow: var(--neonGreen) 0px 14px 50px 5px;
}

@media screen and (max-width: 420px) {
    #card {
        width: 80%;
    }

    #advice {
        font-size: 20px;
    }

    #divider {
        margin-bottom: 10%;
    }

    #button-container {
        width: 20%;
        left: 40%;
    }
}

@media screen and (min-width: 421px) and (max-width: 768px) {
    #card {
        width: 60%;
    }

    #divider {
        margin-bottom: 11%;
    }

    #button-container {
        width: 22%;
        left: 40%;
        bottom: -8%;
    }
}

